*{
   font-family: 'Kanit', sans-serif;
}
.photo-frame {
  width: 300px;
  height: 400px;
  border: 10px solid gray;
  border-radius: 10px;
  position: relative;
  box-shadow: 3px 3px 15px;
  margin: 10px;
  overflow: hidden;
}
.photo{
   transition: 0.5s;
}
.photo-frame .photo img {
  width: 100%;
  height: 400px;
}
.image-detail {
  position: absolute;
  top: 0;
  display: none;
  height: 400px;
}
.photo-frame:hover .photo{
   transform: scale(1.1);
}
.photo-frame:hover .image-detail {
  display: block;
  background-color: rgba(128, 128, 128, 0.7);
  cursor: pointer;
}
.photo-frame:hover .image-detail h3{
   background-color: black;
   color: white;
   text-align: center;
}
.photo-frame:hover .image-detail p{
   text-align: center;
   color: white;
}
.photo-album{
   display: flex;
   justify-content: center;
}
h1{
   text-align: center;
   color: rgb(59, 59, 59);
}